.checkpoints/
.idea/
.vscode/
.ipynb_checkpoints/
__pycache__/
ckpts/flickr8k/gen/*.pth
ckpts/flickr8k/dis/*.pth
ckpts/flickr30k/gen/*.pth
ckpts/flickr30k/dis/*.pth
ckpts/coco/gen/*.pth
ckpts/coco/dis/*.pth
images/coco/*.jpg
images/flickr8k/*.jpg
images/flickr30k/*.jpg
karpathy_splits/*
processed_data/coco/*.json
processed_data/coco/test/image_features/resnet101/*.npy
processed_data/coco/train/image_features/resnet101/*.npy
processed_data/coco/val/image_features/resnet101/*.npy
processed_data/coco/test/image_features/resnet152/*.npy
processed_data/coco/train/image_features/resnet152/*.npy
processed_data/coco/val/image_features/resnet152/*.npy
processed_data/coco/test/*.json
processed_data/coco/train/*.json
processed_data/coco/val/*.json
processed_data/flickr8k/*.json
processed_data/flickr8k/test/image_features/resnet101/*.npy
processed_data/flickr8k/train/image_features/resnet101/*.npy
processed_data/flickr8k/val/image_features/resnet101/*.npy
processed_data/flickr8k/test/image_features/resnet152/*.npy
processed_data/flickr8k/train/image_features/resnet152/*.npy
processed_data/flickr8k/val/image_features/resnet152/*.npy
processed_data/flickr8k/test/*.json
processed_data/flickr8k/train/*.json
processed_data/flickr8k/val/*.json
processed_data/flickr30k/*.json
processed_data/flickr30k/test/image_features/resnet101/*.npy
processed_data/flickr30k/train/image_features/resnet101/*.npy
processed_data/flickr30k/val/image_features/resnet101/*.npy
processed_data/flickr30k/test/image_features/resnet152/*.npy
processed_data/flickr30k/train/image_features/resnet152/*.npy
processed_data/flickr30k/val/image_features/resnet152/*.npy
processed_data/flickr30k/test/*.json
processed_data/flickr30k/train/*.json
processed_data/flickr30k/val/*.json
stats/coco/dis/*.csv
stats/coco/gen/*.csv
stats/flickr8k/gen/*.csv
stats/flickr8k/dis/*.csv
stats/flickr30k/gen/*.csv
stats/flickr30k/dis/*.csv
test_images/
code.zip
playground.ipynb





